@page "/AboutPage"

<h1 class="display-4 text-center" style="margin-top: 5rem; margin-bottom: 2rem; font-weight: 500">Designer Collaborations</h1>
<p class="fs-4 text-center" style="margin-top: 2rem; font-weight: 300;">
    Along with pieces by our talented in-house studio, we collaborate
    <br>
    with renowned and emerging designers to develop exclusive
    <br>
    collections that consider every space and individual.
</p>

<hr class="featurette-divider" style="margin-bottom: 3rem; margin-top: 7rem">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="divAboutPage">
                <img src="Images/yarikImage.jpg" alt="" style="width: 100%;">
                <p class="fs-3" style=" margin-bottom: 0px">Yarik</p>
                <p class="fs-5">Developer</p>
            </div>
        </div>
        <div class="col">
            <div class="divAboutPage">
                <img src="Images/yarikImage.jpg" alt="" style="width:100%">
                <p class="fs-3" style=" margin-bottom: 0px">Yarik</p>
                <p class="fs-5">Developer</p>
            </div>
        </div>
        <div class="col">
            <div class="divAboutPage">
                <img src="Images/yarikImage.jpg" alt="" style="width:100%">
                <p class="fs-3" style=" margin-bottom: 0px">Yarik</p>
                <p class="fs-5">Developer</p>
            </div>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<footer class="container">
    <p class="float-end fs-4"><a href="/AboutPage/#">Back to top</a></p>
    <p class="fs-4">© All rights reserved. 2022</p>
</footer>


