<hr class="featurette-divider" style="margin-top: 8rem">

<h1 class="display-2 text-center" style="margin-top: 5rem; margin-bottom: 2rem">Or want individual design?</h1>
<h1 class="display-6 text-center" style="margin-top: 2rem;">
    We make custom-made furniture.
</h1>
<h1 class="display-6 text-center" style="margin-bottom: 2rem">
    Depending on your own design.
</h1>
<p class="fs-4 text-center" style="margin-bottom: 2rem">To get full information and <br> start making furniture with us please enter your e-mail.</p>
<div class="container" style="text-align: center; ">
    <input type="text" id="email" name="email" placeholder="example@gmail.com">
    <p><button class="makeOrderButton" style="width: 250px; margin-top: 1rem">Get information</button></p>
</div>

<hr class="featurette-divider">

<footer class="container">
    <p class="float-end fs-4"><a href="/MakeOrder/#">Back to top</a></p>
    <p class="fs-4">© All rights reserved. 2022</p>
</footer>

